#pokelab {
	width: 1400px; 
	display: inline-block;
}
#pokedex {
	height: 600px; 
	width: 200px; 
	display: inline-block;
	border: 5px solid red;
	position: fixed;
	margin-top: 220px;
}

#pokedex img {
    margin-left: 40px;
    padding-top: 74px;
/*    display: none;*/
}
li {
	font-weight: normal;
	font-size: 56%;
}
.none {
	display: none;
}
.display {
	display: block;
}